{% load static %}
{% load filters %}
<link rel="stylesheet" href="{% static 'community/post_detail_style.css' %}">

{% block content %}
    <div class="navbar">
        <div class="navbar-left">
            <button onclick="location.href='{% url 'post_list' %}'" class="back-button">返回主界面</button>
        </div>
        <div class="navbar-center">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="post-detail">
        <p>{{ post.content }}</p>
        <p1>任务: {{ post.task }}</p1>
        <p1>任务时间: {{ post.task_time }}</p1>
        <p1>作者: {{ post.author.username }}</p1>
        <p1 class="total-likes">总点赞数: <span id="likes-count-post-{{ post.id }}">{{ post.total_likes }}</span></p1>
        <p1>创建时间: {{ post.created_at }}</p1>
        <form class="like-form" action="{% url 'like_item' 'post' post.id %}" method="POST">
            {% csrf_token %}
            {% if user in post.likes.all %}
                <button type="submit">取消点赞</button>
            {% else %}
                <button type="submit">点赞</button>
            {% endif %}
        </form>

        <h2>评论</h2>
        <ul class="comment-list">
            {% for comment in comments %}
                <li class="comment">
                    <div>
                        <p>{{ comment.author.username }}</p>
                        <p>{{ comment.content }}</p>
                        <p1 class="total-likes">总点赞数: <span id="likes-count-comment-{{ comment.id }}">{{ comment.total_likes }}</span></p1>
                        <p1 class="comment-time">评论时间: {{ comment.created_at }}</p1>
                        <form class="like-form" action="{% url 'like_item' 'comment' comment.id %}" method="POST">
                            {% csrf_token %}
                            {% if user in comment.likes.all %}
                                <button type="submit">取消点赞</button>
                            {% else %}
                                <button type="submit">点赞</button>
                            {% endif %}
                        </form>
                    </div>
                    {% if user.is_authenticated and user == comment.author %}
                        <form method="post" action="{% url 'delete_comment' post.id comment.id %}">
                            {% csrf_token %}
                            <button type="submit" class="red-button">删除</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <h2>添加评论</h2>
        <div class="comment-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">添加评论</button>
            </form>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.like-form').forEach(form => {
            form.onsubmit = function(e) {
                e.preventDefault();
                const url = this.action;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': this.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                })
                .then(response => response.json())
                .then(data => {
                    const likeButton = this.querySelector('button');
                    const totalLikes = document.querySelector(`#likes-count-${data.item_type}-${data.item_id}`);
                    if (data.liked) {
                        likeButton.textContent = '取消点赞';
                    } else {
                        likeButton.textContent = '点赞';
                    }
                    totalLikes.textContent = data.total_likes;
                });
            };
        });
    });
    </script>
{% endblock %}
